asgiref==3.8.1
Django==4.2
django-allauth==0.62.1
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg2==2.9.9
PyJWT==2.8.0
setuptools==69.2.0
sqlparse==0.5.0
wheel==0.43.0
timedelta==2020.12.3
daphne
channels
channels_redis
celery
django-celery-results
django-celery-beat
Pillow
