/* RESET */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,h5,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

/* -----
 common
----- */
:root {
  --heightMainHeader: 60px;

  --content-color1: rgb(4, 229, 143);
  --content-color2: rgb(230, 0, 255);
  --color-burn1: rgba(105,134,30, 0.3);
  --color-burn2: rgba(105,134,30, 0.12);
  --color-burn3: rgba(25, 30, 12, 0.8);
  --color-white: #fff;
  --color-white-alpha: rgba(255, 255, 255, 0.5);
  --color-white-alpha2: rgba(255, 255, 255, 0.2);
  --color-white-alpha3: rgba(255, 255, 255, 0.8);
  --color-black: #000;
  --color-black-alpha: rgba(0, 0, 0, 0.5);
  --color-black-alpha2: rgba(0, 0, 0, 0.2);
  --color-black-alpha3: rgba(0, 0, 0, 0.8);
  --color-gray: #666666;
  --color-error1: rgba(243, 0, 67, 0.7);
  --color-error1-alpha: rgba(243, 0, 67, 0.1);
  --color-error2: rgb(250, 216, 228);
  --color-error2-alpha: rgba(250, 216, 228, 0.7);
  --color-online: var(--content-color1);
  --color-offline: var(--color-gray);
  --color-busy: var(--content-color2);

  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0.06em 0.06em var(--content-color1), -0.05em -0.07em var(--content-color2);
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

hr {
  width: 100%;
  height: 0;
  margin: 80px 0;
  border-top: 1px solid var(--content-color2);
  box-shadow: 1px 2px 0 var(--content-color1);
}

/* -----
 base
----- */
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-blend-mode: overlay;
  background-image:
          radial-gradient(circle, rgba(120, 130, 130, 1), rgba(60, 70, 70, 1) 80%),
          repeating-linear-gradient(0deg, #a8a8a8, #a8a8a8 2px, transparent 2px, transparent 5px);
  background-color: #3c4748;
  background-attachment: fixed;
  overflow: hidden;
}

.wrap::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-burn1);
  box-shadow: 0 0 30px 20px var(--color-burn1);
  mix-blend-mode: multiply;
  animation: 16s infinite anmScreenBurn;
  pointer-events: none;
}

@keyframes anmScreenBurn {
  from {
    top: calc(100vh + 50px);
  }

  to {
    top: -120px;
  }
}

/* mainHeader */
.mainHeader {
  height: var(--heightMainHeader);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(24, 28, 28, 0.6);
}

.mainHeader a {
  color: var(--color-white);
}

.mainHeader_title {
  flex: 1 0 auto;
  padding-left: 20px;
}

.mainHeader_nav {
  padding-right: 20px;
}

.mainHeader_nav h2 {
  font-size: 1.3rem;
}

.headerNav-login {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.headerNav-login .thumb {
  margin-right: 6px;
}

.navGlobal {
  position: absolute;
  top: var(--heightMainHeader);
  right: 0;
  padding: 20px;
  background-color: var(--color-black-alpha);
  z-index: 1;
  opacity: 0;
  translate: 15%;
  transition: translate 0.2s steps(3, jump-none), opacity 0.14s ease;
}

.navGlobal.is-show {
  opacity: 1;
  translate: 0;
  transition: translate 0.2s steps(3, jump-none), opacity 0.2s ease;
}

.navList {
  list-style: none;
}

.navList_item {

}

.navList_item + .navList_item {
  margin-top: 20px;
}

/* mainContainer */
.mainContainer {
  flex: 1 0 auto;
  padding-bottom: 30px;
}

.mainContainerHeader {
  padding-top: 80px;
  text-align: center;
}

.mainContainerHeader_title {
  margin-bottom: 40px;
  font-size: 1.8rem;
}

.mainContainer_content {/* #app */
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/* mainFooter */
.mainFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid var(--color-black-alpha);
  color: var(--color-white);
  text-align: right;
  font-size: 1.3rem;
}

.formSwitchLang {
  margin-right: 30px;/*tmp*/
}

/* -----
 module
----- */

/* unitButton */
.unitButton {
  position: relative;
  padding: 0.2em 0.8em;
  background-color: var(--color-burn1);
  border: none;
  text-shadow:
          0.06em 0.06em var(--content-color1),
          -0.05em -0.07em var(--content-color2);
  font-size: 1.3rem;
  color: var(--color-white);
}

.unitButton:hover {
  opacity: 1;
}

.unitButton-large {
  font-size: 1.8rem;
}

.unitButton-small {
  font-size: 1.0rem;
}
.unitButtonWrap {
  text-align: center;
}

.unitButton::before,
.unitButton::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.unitButton::before {
  transform: translate(-1px, -1px);
  border: 1px solid var(--content-color2);
}

.unitButton::after {
  transform: translate(1px, 1px);
  border: 1px solid var(--content-color1);
}

.unitButton:hover::before {
  animation: 0.2s ease-out btnHover1;
}

.unitButton:hover::after {
  animation: 0.2s ease-out btnHover2;
}

@keyframes btnHover1 {
  0% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(-1px, -1px);
  }
}

@keyframes btnHover2 {
  0% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(1px, 1px);
  }
}

.unitButton:disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  border: 1px solid var(--color-white);
  cursor: not-allowed;
}

.unitButton:disabled::before,
.unitButton:disabled::after {
  content: normal;
}

.unitButtonReject {
  position: relative;
  margin-left: 10px;
  padding: 0.2em 0.8em;
  background-color: transparent;
  border: none;
  text-shadow:
          0.06em 0.06em var(--content-color1),
          -0.05em -0.07em var(--content-color2);
  font-size: 1.1rem;
  color: var(--color-white);
}

.unitButtonReject::before,
.unitButtonReject::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  translate: 0 0;
  border: 1px solid var(--color-error1);
}

.unitButtonReject:hover::before {
  animation: 0.4s ease-out btnHover3;
}

.unitButtonReject:hover::after {
  animation: 0.4s ease-out btnHover4;
}

@keyframes btnHover3 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 2px 2px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes btnHover4 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: -1px -1px;
  }
  100% {
    translate: 0 0;
  }
}


/* unitTitle */
.unitTitle1 {
  position: relative;
  padding: 0.2em 0.8em;
  background-color: var(--color-burn2);
  text-shadow:
          0.06em 0.06em var(--content-color1),
          -0.05em -0.07em var(--content-color2);
  font-size: 1.6rem;
  color: var(--color-white);
}

.unitTitle1::before,
.unitTitle1::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  bottom: 0;
  left: 0;
}

.unitTitle1::before {
  transform: translate(-1px, -1px);
  background-color: var(--content-color2);
}

.unitTitle1::after {
  transform: translate(1px, 1px);
  background-color: var(--content-color1);
}

.unitTitle2 {
  position: relative;
  margin-top: 0.5em;
  padding: 0.2em 0.8em 0 0.6em;
  text-shadow:
          0.06em 0.06em var(--content-color1),
          -0.05em -0.07em var(--content-color2);
  font-size: 1.6rem;
  color: var(--color-white);
}

.unitTitle2::before,
.unitTitle2::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 1px;
  height: 0.7em;
  top: 0.2em;
  bottom: 0;
  left: 0;
  margin: auto;
}

.unitTitle2::before {
  transform: translate(-1px, -1px);
  background-color: var(--content-color2);
}

.unitTitle2::after {
  transform: translate(1px, 1px);
  background-color: var(--content-color1);
}

/* unitListItem */
.unitListItem {
  margin-bottom: 20px;
  border: 4px solid var(--color-black-alpha);
}

.unitListItem_header {
  padding: 4px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-black-alpha);
}

.unitListItem_header h3 {
  font-size: 1.6rem;
}

.unitListItem_content {
  padding: 0.7em 0.8em 0.5em;
  font-size: 1.2rem;
}

/* unitListBtn */
.unitListBtn {
  /*display: flex;*/
  list-style: none;
}

.unitListBtn-w100 {
  margin-top: 30px;
}

.unitListBtn-w100 li {
  width: 100%;
}

.unitListBtn-w100 li:not(:last-child) {
  margin-bottom: 16px;
}

.unitListBtn-w100 li a {
  display: block;
  padding: 0.3em 0;
  text-align: center;
}

.unitListBtn-horizontal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.unitListBtn-horizontal li:not(:last-child) {
  margin-right: 10px;
}

/*.unitListBtn-ar {*/
/*  justify-content: flex-end;*/
/*}*/

/* unitLinkText */
.unitLinkText {

}

.unitLinkText a {
  color: var(--color-white);
}

.unitLinkText a:hover {
  /*text-shadow: -0.06em -0.06em var(--content-color1), 0.05em 0.07em var(--content-color2);*/
  animation: 0.2s ease-out linkHover1;
  opacity: 1;
}

.unitLinkText a::after {
  content: ">";
  display: inline-block;
  margin-left: 0.3em;
  transition: translate ease 0.1s;
}

.unitLinkText a:hover::after {
  translate: 0.1em 0;
}

.unitLinkText-right {
  text-align: right;
}

@keyframes linkHover1 {
  0% {
    text-shadow: 0.06em 0.06em var(--content-color1), -0.05em -0.07em var(--content-color2);
  }
  50% {
    text-shadow: 0.14em 0.06em var(--content-color1), -0.14em -0.07em var(--content-color2);
  }
  100% {
    text-shadow: 0.06em 0.06em var(--content-color1), -0.05em -0.07em var(--content-color2);
  }
}

/* unitIndicator */
.unitIndicator {
  height: 30px;
  background-color: var(--color-white-alpha2);
}

.unitIndicator_bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transition: width 30s steps(30, jump-none)
}

.unitIndicator.is-progress .unitIndicator_bar {
  width: 0;
}

/* todo:残像出しながら減らしたい */


/* form */
input[type=text],
input[type=password] {
  padding: 0.2em 0.5em;
  font-size: 1.4rem;
  background-color: var(--color-black-alpha);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  box-shadow:
          1px 1px var(--content-color1),
          -1px -1px var(--content-color2);
}

input.has-input:invalid {
  border: 1px solid var(--color-error1);
  box-shadow: inset 0 0 2px 1px var(--color-error1);
  background-color: var(--color-error1-alpha);
}

.blockForm {
}

.blockForm_el {
  width: 50%;
  min-width: 20em;
  margin: 0 auto 1.2em;
  font-size: 1.6rem;
}

.blockForm_el dt {
  margin-bottom: 10px;
  text-align: left;
}

.blockForm_el input {
  width: 100%;
}

.blockForm_list {
  display: flex;
  list-style: none;
}

.blockForm_list li {
  font-size: 1.4rem;
}

.blockForm_list li:not(:last-child) {
  margin-right: 1.5em;
}

.unitFormInput {
  margin-bottom: 20px;
  text-align: left;
}

.unitFormInput_label {
  margin-bottom: 0.3em;
  font-size: 1.4rem;
}

.unitFormInput_input input {
  width: 100%;
}

.unitFormInput_input .listAnnotation {
  margin-top: 10px;
}

.unitFormInput_input-confirm {
  padding: 0 0.5em;
  font-size: 1.6rem;
  background-color: var(--color-black-alpha2);
}

/* .thumb */
.thumb {
  line-height: 0;
}

/* .breadcrumb */
.breadcrumb {
  display: flex;
  padding: 0 1em;
  list-style: none;
  background: var(--color-black-alpha2);
  line-height: 2.2;
}

/*.breadcrumb li:first-child::before {*/
/*  content: "■";*/
/*  margin-right: 0.4em;*/
/*}*/

.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin: 0 0.6em;
}

.breadcrumb a {
  color: var(--color-white);
  text-decoration: underline;
}

.breadcrumb a:hover {
  animation: 0.2s ease-out linkHover1;
  opacity: 1;
}


/* list */
.listButton {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.listButton li {
  margin: 0 10px;
}

.listLineDivide > div,
.listLineDivide > li,
.listLineDivide > section {
  border-bottom: 2px dotted var(--color-white-alpha2);
}

.listLineDivide > div:last-child,
.listLineDivide > li:last-child,
.listLineDivide > section:last-child {
  border-bottom: none;
}

/* listError */
.listError {
  margin-top: 10px;
  padding: 0.8em 1em 0.8em 2em;
  background: var(--color-error2-alpha);
}

.listError:empty {
  display: none;
}

.listError li {
  color: var(--color-error1);
  text-shadow: none;
  font-size: 1.1rem;
  line-height: 1.3;
}

.listError li:not(:last-child) {
  margin-bottom: 0.5em;
}

/* listAnnotation */
.listAnnotation {
  list-style: none;
}

.listAnnotation li {
  font-size: 0.9rem;
  margin-right: 0.5em;
}

.listAnnotation li {
  text-shadow: none;
  color: var(--color-white-alpha3);
}

.listAnnotation li::before {
  content: "※";
  margin-right: 0.2em;
}


/* .unitBox */
.unitBox {
  border: 1px solid var(--color-white);
  box-shadow: -1px -1px var(--content-color1),
  1px 1px var(--content-color2);
}

/* -----
 page
----- */
/* home */
.blockForm-home {
  margin-top: 50px;
  text-align: center;
}

.blockSignUp {
  text-align: center;
}

.blockSignUp {
  text-align: center;
}

.blockSignUp_txt {
  margin-bottom: 0.7em;
  font-size: 1.2rem;
}

.blockSignUp_link {

}

/*User*/
.blockPlayerDetail {

}

.blockPlayerDetail_profile {
  margin-bottom: 80px;
}

.blockPlayerDetail_detail {
}

@media screen and (min-width: 768px) {
  .blockPlayerDetail {
    display: flex;
    justify-content: space-between;
  }

  .blockPlayerDetail_profile {
    flex: 0 0 200px;
    margin-right: 60px;
  }

  .blockPlayerDetail_detail {
    flex: 1 1 auto;
  }
}

.blockFriends {
  margin-bottom: 50px;
}

.blockFriends_link {
  font-size: 1.3rem;
}

.listFriends {
}

.unitFriend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.unitFriend_header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 0.5em;
}

.unitFriend_name {
  font-size: 1.4rem;
  word-break: break-all;
}

.unitFriend_thumb {
  position: relative;
  flex: 0 0 64px;
  margin-right: 14px;
  line-height: 0;
}

.unitFriend_thumb img {
  width: 100%;
  height: auto;
}

.unitFriendButton {
  flex: 1 0 auto;
  margin-bottom: -12px;
  padding: 12px 0;
  text-align: right;
}

.unitFriendButton_button {
  word-break: keep-all;
}

.unitFriend-offline .unitFriend_thumb img,
.unitFriend-offline .unitFriend_name {
  opacity: 0.4;
}

.unitFriend-online .unitFriend_thumb::after,
.unitFriend-offline .unitFriend_thumb::after,
.unitFriend-busy .unitFriend_thumb::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 2px solid var(--color-black-alpha);
}

.unitFriend-online .unitFriend_thumb::after {
  background-color: var(--color-online);
}

.unitFriend-offline .unitFriend_thumb::after {
  background-color: var(--color-offline);
}

.unitFriend-busy .unitFriend_thumb::after {
  background-color: var(--color-busy);
}

/*.blockFriendRequest*/
.blockFriendRequest {
  margin: 0 0 50px;
}

.blockFriendRequest_title {
  line-height: 0;
}

.blockFriendRequest_friends {
  padding: 20px 0 10px;
  background-color: rgb(21 27 31 / 28%);
}

.blockFriendRequest .unitFriend {
  margin: 0 20px;
}

.blockPlayerDetail_thumb {
  margin-bottom: 30px;
  text-align: center;
}

.blockPlayerDetail_thumb img {
  display: inline;
  width: 160px;
  height: auto;
}

.blockPlayerDetail_score {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.7;
}

.listMatchLog {
  width: 100%;
  list-style: none;
  font-size: 1.4rem;
}

.listMatchLog_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}

.listMatchLog_item strong {

}

.listMatchLog_item span {
  font-size: 1.2rem;
}

/* Friends */
.blockUsers {

}

.blockUsers_column {

}

.blockUsers_column .blockFriends_friends {
  overflow-y: scroll;
  height: 40vh;
}

@media screen and (min-width: 768px) {
  .blockUsers {
    display: flex;
    justify-content: space-between
  }

  .blockUsers_column {
    flex: 0 0 calc(50% - 20px);
  }

  .blockUsers_column .blockFriends_friends {
    overflow-y: visible;
    height: inherit;
  }
}

/*UserRegister*/
.formUserRegister {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.formUserRegister_button {
  margin-top: 30px;
}

.unitTextComplete {
  margin: 100px 0;
  padding: 0.5em;
  text-align: center;
  font-size: 1.8rem;
}

/* formCreateRoom */
.formCreateRoom {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto 50px;
  padding: 30px 10px;
}

.formCreateRoom_list {
  margin-right: 40px;
}

/* unitMatch */
.unitMatch {
  padding: 10px 0;
}

.unitMatch_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.unitPlayer {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.unitPlayer_thumb {
  flex: 0 0 42px;
  margin-right: 8px;
  line-height: 0;
}

.unitPlayer_thumb img {
  width: 100%;
  height: auto;
}

.unitPlayer_name {
  font-size: 1.3rem;
}

/* GamePlay */
.playBoardWrap {
  padding-top: 50px;
}

.listPlayerActiveMatch {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
  font-size: 1.6rem;
}

#playBoard {
  width: 100%;
  background-color: var(--color-black);
}

/* GameMatch */
.listPlayers {
}

.unitPlayerName {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.unitPlayerName h3 {
  margin-left: 0.6em;
}

.unitPlayerScore {
  display: flex;
}

.unitPlayerScore p:not(:last-child)::after {
  content: "/";
  margin: 0 1em;
}

/* GameMatch */
.unitTournamentName {
  display: flex;
  align-items: center;
}

.unitTournamentName p {
  margin-left: 1em;
  font-size: 1.4rem;
}

.unitTournamentInfo p + p {
  margin-top: 0.5em;
}

/* modal */
.wrapModal {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--color-black-alpha3);
  display: none;
  opacity: 0;
}

.wrapModal.is-show {
  display: block;
  opacity: 1;
}

.blockModal {
  position: fixed;
  width: 70%;
  min-height: 300px;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  padding: 30px;
  background-color: var(--color-burn3);
}

.blockModal::before,
.blockModal::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.blockModal::before {
  transform: translate(-1px, -1px);
  border: 1px solid var(--content-color2);
}

.blockModal::after {
  transform: translate(1px, 1px);
  border: 1px solid var(--content-color1);
}

.blockModal_title {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.blockModal .blockOpponent {
  display: flex;
  flex-direction: column-reverse;
  padding: 50px 0;
  text-align: center;
}

.blockModal .blockOpponent_name {
  padding-top: 0.2em;
  font-size: 2.2rem;
}

.blockModal .blockOpponent_thumb img {
  width: 180px;
  height: auto;
}

.blockModal .blockBtnCancel {
  padding-bottom: 10px;
  text-align: right;
}

.blockModal .unitListBtn {
  padding-bottom: 10px;
}